<clr-vertical-nav [clrVerticalNavCollapsible]="'demoCollapsible'">
    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
        <cds-icon shape="store" clrVerticalNavIcon></cds-icon>
        Catálogo
    </a>
    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
        <cds-icon shape="factory" clrVerticalNavIcon></cds-icon>
        Estoque
    </a>
    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
        <cds-icon shape="shopping-bag" clrVerticalNavIcon></cds-icon>
        Pedidos
    </a>
</clr-vertical-nav>