<div class="clr-row">
    <div class="clr-col">
        <!-- <form clrForm>
            <clr-combobox-container>
                <label>Categorias</label>
                <clr-combobox [(ngModel)]="selection" name="multiSelect" clrMulti="true"
                    placeholder="Selecione">
                    <ng-container *clrOptionSelected="let selected">
                        {{selected?.description}}
                    </ng-container>
                    <clr-options>
                        <clr-option *clrOptionItems="let state of dataFilterList[0].itens; field:'description'"
                            [clrValue]="state">
                            {{state.description}}

                        </clr-option>
                    </clr-options>
                </clr-combobox>
            </clr-combobox-container>
            <clr-combobox-container>
                <label>Mascas</label>
                <clr-combobox [(ngModel)]="selection" name="multiSelect" clrMulti="true"
                    placeholder="Selecione">
                    <ng-container *clrOptionSelected="let selected">
                        {{selected?.description}}
                    </ng-container>
                    <clr-options>
                        <clr-option *clrOptionItems="let state of dataFilterList[1].itens; field:'description'"
                            [clrValue]="state">
                            {{state.description}}
                        </clr-option>
                    </clr-options>
                </clr-combobox>
            </clr-combobox-container>
        </form> -->

    </div>
    <div class="clr-break-row"></div>
    <div class="clr-col-xl-3 clr-col-lg-4 clr-col-md-5 clr-col-sm-6 clr-col-12"
        *ngFor="let product of cardCatalogList; trackBy: trackById">
        <app-card-product [item]="product" (onHandleClick)="handleSelectedCard($event)"></app-card-product>
    </div>
</div>