<h2>Lista de Marcas</h2>
<button class="btn btn-icon" aria-label="Nova Marca" [routerLink]="['/marcas/criar']">
    <cds-icon shape="plus"></cds-icon>
    Nova Marca
</button>
<clr-datagrid>
    <clr-dg-column>Nome</clr-dg-column>
    <clr-dg-column>Ativo</clr-dg-column>

    <clr-dg-row *ngFor="let brand of brands$">
        <clr-dg-action-overflow>
            <button class="action-item" [routerLink]="['/marcas/editar', brand.id]">
                <cds-icon shape="form"></cds-icon>
                Editar
            </button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{brand.name}}</clr-dg-cell>
        <clr-dg-cell>{{brand.active ? 'Sim' : 'Não'}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer *ngIf="brands$">{{brands$.length}} marcas</clr-dg-footer>
</clr-datagrid>